<!DOCTYPE html>
<html lang="english">

 <script src="{{ url_for('static', filename='joy.js') }}"></script>

<head>
    <title>AAAAAAAAAHHHHHHHHHHHHH</title>
</head>
<body>
    <h2>THE VOICES</h2>
    <p>⛧ t̵̨̡̢̧̛̛̮͇̭̪̘̝͎͎̹̥̝̜̙̜̠̘͎͉̺̎͊̒̿͌̈̀͆̌͋́̑̎̑̈́̐̒̒̊̌́͋͒͌̽̀̀̈́̀͂̌̈́̔̋̈́̌͌̕̚͝͠͝͝ḩ̶̢̧̯̜̟̬̤̣̲̣͎̘͕̖͇͍͈̖̟͉̲͎̟̙͈̞̠̞͈̗̈́̍͂͛̃́̅̽̆̕͜͠ͅȇ̵̡̧͓͍͎͎̝̭̫̜̻͖͚͚̩̞̲̯̣̮̤͕̺̲͎̗̝̭͍̬̗̰̰̻͙͍͙̳̿̏͒̃̈̐͛̏͐̈́͛̔̃̿̃̎͜͜͜ͅỳ̸̧̨̢̨̛̝̫̠̯̣̳͉̖͚͚̭̫͍̗͉̤̰̥̹͉͈̪̻͊͛̑̍́̄͒̓͑́́͂́̈̓̏̇͑͂̍̏̈́̂͝ ̸̢̡̡̛̗̗͍̯̝̥̟̤̠̝̥̣͕͎͇̰̣̖̮̱̩͖͇͚̞̫̫̠̤͓̠͎̰͑̓̏̽́̔̏͒͆͗̾͊̍́̕̕͘ͅķ̷̨̨̛͔̼̲̻͚̝̖̻̗͍͍̪̺̻̝̦̝̙͇̗͍͉̤̖̹͉̖̺̜̻͎̫̹͉͙͓͔̈́́̒͂͂͒̕͝ͅͅn̴̢̨̡̰͎̯̥̼̥̥͓̠̹̼̦̬̟̜͉̯̯͍̬͍̰̮͕̠̤͍͚̺̟͍̱̼̻͐͆̒͜ͅợ̶̧̡̢̪̟͍͉͕̖̘̥̩̪̲̹̘͇̩̰͙͚͔͉̯̼̱͈̀̄̇̉̊̇̾̀̑̀͌͗͐̈́̿̒̈́̃̈́̏̽̎̄̃̒͂̾́̚͠ͅͅw̶̨̛̲̯̗̼͕͇̻̳̟̬̙̦̯͇̤̬̉̀͌͑̇͗̏͆̈́̆̄̀̃̍̇̽̃̄͒̆͒͗͒̔̀̿́̀̔̂̓́̈̽̍́̑̕͘͝͝ ̸̛̤͓̮͉̮̳̖̮̣̻̟͎͖̘̣̀̃̋̂̊̈́͑́̐͐̑̎͋͋͊̀͑̽̿͂̀̕̚͘͠ ☠</p>

<div id="joyDiv" style="width:200px;height:200px;margin-bottom:20px;"></div>

<div style="bottom:125px;left:750px;">
			Posizione X:<input id="joy1PosizioneX" type="text" /><br />
				Posizione Y:<input id="joy1PosizioneY" type="text" /><br />
				Direzione:<input id="joy1Direzione" type="text" /><br />
				X :<input id="joy1X" type="text" /></br>
				Y :<input id="joy1Y" type="text" />


</div>



<script type="text/javascript">
    var joy1IinputPosX = document.getElementById("joy1PosizioneX");
var joy1InputPosY = document.getElementById("joy1PosizioneY");
var joy1Direzione = document.getElementById("joy1Direzione");
var joy1X = document.getElementById("joy1X");
var joy1Y = document.getElementById("joy1Y");
// Create JoyStick object into the DIV 'joyDiv'
var Joy1 = new JoyStick('joyDiv', {}, function(stickData) {
    joy1IinputPosX.value = stickData.xPosition;
    joy1InputPosY.value = stickData.yPosition;
    joy1Direzione.value = stickData.cardinalDirection;
    joy1X.value = stickData.x;
    joy1Y.value = stickData.y;

	setInterval(function(){ joy1IinputPosX.value=Joy1.GetPosX(); }, 50);
setInterval(function(){ joy1InputPosY.value=Joy1.GetPosY(); }, 50);
setInterval(function(){ joy1Direzione.value=Joy1.GetDir(); }, 50);
setInterval(function(){ joy1X.value=Joy1.GetX(); }, 50);
setInterval(function(){ joy1Y.value=Joy1.GetY(); }, 50);
});

</script>
</body>
</html>